$bodyBgColor:rgb(193, 193, 193);
.active-category{
    background-color: blue !important;
}
.dark-scheme{
    $bodyBgColor:rgb(34, 34, 34) ;
    background-color: $bodyBgColor;
}

.right-ball{
    right: 0 ;
}
.left-ball{
    left: 0;
}